/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--background-color);
  color: var(--accent-color);
  background-image: repeating-linear-gradient(
      to right,
      var(--first-gradient-color) 0,
      var(--first-gradient-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      var(--first-gradient-color) 0,
      var(--first-gradient-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(
      to bottom,
      var(--second-gradient-color) 0.01%,
      var(--third-gradient-color) 100%
    );
}

.header {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px;
  width: clamp(375px, 100%, 700px);

  justify-content: end;
  gap: 25px;
}

.page_icon {
  font-family: var(--accent-font);
  font-size: clamp(3.0625rem, 1.8943rem + 4.9844vw, 4.0625rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-top: clamp(120px, 30%, 136px);
}

.page_title {
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.2179rem + 2.8037vw, 1.4375rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.theme-menu__button {
  text-transform: uppercase;
  padding: 0;
}
.header_title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  width: clamp(375px, 100%, 700px);
  display: flex;
  flex-direction: column;
  border: solid 2px;
}

.article_text-container {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px 25px 0px 25px;
  border-top: solid 2px;
}
.card_title {
  padding: 5px 10px;
  border-bottom: solid 2px;
}
.card_image {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

div:has(.card_image) {
  position: relative;
  width: 100%;
}

div:has(.card_image) span {
  position: absolute;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  width: fit-content;
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: -1px 0 var(--background-color), 0 1px var(--background-color),
    1px 0 var(--background-color), 0 -1px var(--background-color);
}

.card_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.buttons_container {
  display: flex;
  align-items: center;
  align-self: end;
  gap: 9px;
  margin: 25px;
  height: fit-content;
}

.card__like-button {
  display: flex;
  border: 2px solid;
  padding: 9px 15px;
  width: 130px;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: box-shadow 0.3s ease;
  outline: none;
  height: 38px;
}

.card__like-button:before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
}

.card__like-button:hover::before {
  transform: scaleX(1);
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 12.6px */
  z-index: 10;
  color: var(--button-color);
  mix-blend-mode: difference;
}

.card__icon-button {
  padding: 0;
  display: flex;
}

.card__icon-button:focus {
  outline: none;
}

.main_font {
  font-family: var(--main-font);
  font-size: 18px;
  font-style: normal;
}

.card_title.main_font {
  line-height: normal;
  font-variation-settings: "wght" var(--weight-title);
}

.card_text.main_font {
  line-height: 21px;
  font-variation-settings: "wght" var(--weight-text);
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:disabled,
.theme-menu__button:hover,
.theme-menu__button:focus-visible {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button:before {
  content: "▶";
  position: relative;
  animation: slideAnimation 0.5s ease-in-out infinite alternate;
  visibility: hidden;
}

.theme-menu__button:disabled:before {
  visibility: visible;
}

.theme-menu__button {
  outline: none;
  display: flex;
  gap: 6px;
}

.theme-menu__button:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 6px;
  width: calc(100% - 12px);
  height: 2px;
  background-color: #000;
  transform-origin: left center;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.theme-menu__button:focus-visible:after {
  transform: scaleX(1);
  opacity: 0.6;
  background-color: var(--accent-color);
}

.button-save {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 15px 20px;
  border: solid 2px;
  margin-bottom: 103px;
  position: relative;
  transition: box-shadow 0.3s ease;
  outline: none;
  background: var(--background-color);
}

.button-save:before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
}

.button__icon {
  width: 21px;
}

.button-save:hover::before {
  transform: scaleX(1);
}

.button__text-save {
  z-index: 10;
  color: var(--button-color);
  mix-blend-mode: difference;
}

.modal {
  padding: 30px;
  max-width: 355px;
  outline: none;
  margin: auto;
  border: 2px solid var(--accent-color);
  background: var(--background-color);
  color: var(--accent-color);
}

.modal-text {
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
  width: fit-content;
}

.modal::backdrop {
  opacity: 0.75;
  background: #000000;
}

.modal__content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.modal_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.modal__icon {
  width: 39px;
  height: 39px;
  flex-shrink: 0;
}

.button__modal-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 12.6px */
  text-transform: uppercase;
}

.modal__button {
  font-weight: 400;
  line-height: 90%; /* 12.6px */
  font-size: 14px;
  justify-self: center;
  width: 100%;
  text-align: center;
  border: 2px solid;
  padding: 9px 17px;
  position: relative;
  transition: box-shadow 0.3s ease;
  outline: none;
}

.modal__button:before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
}

.modal__button:hover::before {
  transform: scaleX(1);
}

.rotate {
  filter: hue-rotate(150deg);
}

.saturate {
  filter: saturate(300%);
}

.sepia {
  filter: sepia(70%);
}

.blur {
  filter: blur(30px);
}
.invert {
  filter: invert(60%);
}

.grayscale {
  filter: grayscale(30%);
}

.multy {
  filter: contrast(20%) hue-rotate(70deg) saturate(150%);
}

.card,
.header {
  background-color: var(--background-color);
  border-color: var(--accent-color);
}

.card__like-button:focus-visible,
.button-save:focus-visible,
.modal__button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--accent-color);
  border: 2px solid var(--accent-color);
}

.card__like-button:before,
.button-save:before,
.modal__button:before {
  background: var(--button-color);
  mix-blend-mode: difference;
}

@supports (
  (-webkit-text-stroke: 1px var(--background-color)) or
    (text-stroke: 1px var(--background-color))
) {
  div:has(img) span {
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
    text-shadow: none;
  }
}

@media (max-width:377px) {
  .button-save {
    flex-direction: column;
  }
  .button__icon {
    width: 28px;
  }
}